<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
    <style>
        #product-list {
            list-style-type: none;
            padding: 0;
        }

        #product-list li {
            margin: 10px 0;
        }

        .product-image {
            max-width: 100px;
            max-height: 100px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <h1>Lista de Productos (Tiempo Real)</h1>
    <h2>Agregar Producto</h2>
    <form id="add-product-form">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea><br>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required><br>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required><br>
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required><br>
        <label for="thumbnails">Imagen (URL):</label>
        <input type="text" id="thumbnails" name="thumbnails"><br>
        <button type="submit">Agregar Producto</button>
    </form>
<ul id="product-list">
        {{#each products}}
        <li>
            <img src="{{this.thumbnails}}" alt="{{this.title}}" class="product-image">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <button class="delete-btn" data-id="{{this.id}}">Delete</button>
        </li>
        {{/each}}
    </ul>

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>

